body {
    width: 1280px;
    margin: auto;
    font-family: 'Roboto';
}

.header {
    margin-top: 63px;
}

.text_title {
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    margin-bottom: 38px;
    color: #000000;
}

.text_accent {
    color: #4BCAFF;
}

.nav_menu {
    background-color: #35444F;
    height: 69px;
}

.menu_list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu_item {
    height: 69px;
    padding: 24px 35px 18px;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    border-left: 1px solid #FFFFFF;
}

.menu_item:hover  {
    background-color: #222F3A;
    transition: 0.4s;
}

.menu_item:nth-child(4) {
    border-right: 1px solid #FFFFFF;
}

.menu_item_link {
    color: #FFFFFF;
}

.main_container {
    display: flex;
    margin-top: 48px;
    align-items: flex-start;
}

.main_links {
    min-width: 344px;
    border: 1px solid #000000;
}

/* .main_nav_list {
    padding-left: 44px;
} */


.main_list_item {
    padding-top: 26px;
    padding-bottom: 26px;
    padding-left: 44px;
}

.main_list_item:hover  {
    background-color: #DBDBDB;
    padding-left: 60px;
    color: #000000;
    transition: 0.4s;
}

.main_item_link {
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
}

.main_text{
    justify-content: center;
    align-items: center;
    margin-left: 52px;
    width: auto;
}

.main_img_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 529px;
    border: 1px solid #000000;
}

.main_img {
    display: block;
}

.text {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

.first_text {
    margin-top: 37px;
    margin-bottom: 34px;
}

.footer {
    padding-top: 51px;
    padding-bottom: 30px;
}

.footer_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 69px;

    background: rgba(99, 105, 110, 0.48);
}

.footer_nav_list {
    display: flex;
    padding-left: 40px;
}

.footer_nav_item {
    padding-right: 20px;
}

.footer_nav_link {
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
}

.footer_nav_link:hover  {
    color: #3181A6;
    border-bottom: 1px solid #3181A6;;
    padding-bottom: 8px;
    transition: 0.4s;
}

.footer_copy {
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #010101;
    padding-right: 40px;
}


